.sidebar {
    width: 200px;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* .active {
    font-weight: bold;
    color: blue;
} */
  
.logo {
    width: 15%;
    height: 15%;
    fill: white;
}